<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Servicios A&eacute;reos PSA</title>
        <meta charset="utf-8">
        <meta name="author" content="sebastian portesi">
        <meta name="description" content="servicios aereos psa escuela de vuelo"/>

        <link rel="stylesheet" type="text/css" href="{{ asset('/frontend/css/reset.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('/frontend/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset("/backend/bower_components/bootstrap/dist/css/bootstrap.min.css") }}" type="text/css">

        <script type="text/javascript" src="{{ asset('/frontend/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/frontend/js/TimeCircles.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/frontend/js/backstretch.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/frontend/js/main.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/frontend/js/main.js') }}"></script>
    </head>
    <body>

        <section class="content wrapper">

            <h1>Pr&oacute;ximamente Disponible</h1>
            <p class="description">
                Si actualemente sos piloto o alumno de PSA
                <br />
                comunicate con nosotros y &iexcl;pedi acceso al sistema de turnos!
            </p>
            <p>
                Email: <a class="white-link" href="mailto:escuelapsa@gmail.com">escuelapsa@gmail.com</a>
                <br />
                Telefono: 11-6258-8919
            </p>
            <br />
            <a href="{{ path("fos_user_security_login") }}" class="btn btn-primary btn-block text-bold text-uppercase">Acceder al sistema de turnos</a>

        </section>

        <div class="back_img"></div>

    </body>
</html>