{% extends 'BackendBundle::layout.html.twig' %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('/bundles/backend/bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript">
        $('#avion_servicio').on('change', function(){
            if ($(this).prop('checked')) {
                $('.group_razonFueraServicio').fadeOut()
                $('.group_razonFueraServicio *').prop('disabled', true)
            } else {
                $('.group_razonFueraServicio *').prop('disabled', false)
                $('.group_razonFueraServicio').fadeIn()
            }
        })
        if (!$('#avion_servicio').prop('checked')) {
            $('.group_razonFueraServicio').fadeIn()
        }
        $('.table-aviones tbody').sortable({
            stop: function( event, ui ) {
                var data = $('.table tbody').sortable('toArray', { attribute : 'data-id' });
                $.post('/', { 'order' : data }, function(){

                })
            }
        });
    </script>
{% endblock %}

{% block body %}

    <style type="text/css">
        tbody tr {
            cursor: pointer;
        }
    </style>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-plane fa-fw"></i> Aviones</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-aviones">
                    <thead>
                        <tr>
                            <th>Matr&iacute;cula</th>
                            <th>En Servicio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in aviones %}
                            <tr onclick="window.location.href = '{{ path('BackendAvionEdit', { 'id' : item.id }) }}'" data-id="{{ item.id }}">
                                <td>{{ item.matricula }}</td>
                                <td>{{ item.servicio ? 'Si' : 'No' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="col-lg-6">
            {{ form_start(form, {'attr' : { 'class' : 'form-horizontal' }}) }}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% if editar %}
                            <h3 class="panel-title">Editar Avion</h3>
                        {% else %}
                            <h3 class="panel-title">Agregar Avion</h3>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="input" class="col-sm-3 control-label">Matricula</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.matricula) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input" class="col-sm-3 control-label">En Servicio</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.servicio) }}
                            </div>
                        </div>
                        <div class="form-group group_razonFueraServicio" style="display: none;">
                            <label for="inputTipoFueraServicio" class="col-sm-3 control-label">Tipo F/S:</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.tipoFueraServicio) }}
                            </div>
                        </div>
                        <div class="form-group group_razonFueraServicio" style="display: none;">
                            <label for="input" class="col-sm-3 control-label">Raz&oacute;n F/S</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.razonFueraServicio) }}
                            </div>
                        </div>
                        <div class="form-group group_razonFueraServicio" style="display: none;">
                            <label for="inputFechaFueraServicio" class="col-sm-3 control-label">Fecha F/S:</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.fechaFueraServicio) }}
                            </div>
                        </div>
                        <div class="form-group group_razonFueraServicio" style="display: none;">
                            <label for="inputDesdeFueraServicio" class="col-sm-3 control-label">Desde F/S:</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.desdeFueraServicio) }}
                            </div>
                        </div>
                        <div class="form-group group_razonFueraServicio" style="display: none;">
                            <label for="inputHastaFueraServicio" class="col-sm-3 control-label">Hasta F/S:</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.hastaFueraServicio) }}
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="center-block text-center">
                                    {% if editar %}
                                        <button type="submit" class="btn btn-success"><i class="fa fa-save fw"></i> Guardar</button>
                                        <a href="{{ path('BackendAvionHomepage') }}" class="btn btn-warning"><i class="fa fa-reply fw"></i> Cancelar</a>
                                        <button type="button" onclick="deleteAvion()" class="btn btn-danger"><i class="fa fa-trash fw"></i> Eliminar</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-default btn-primary"><i class="fa fa-save fw"></i> Agregar</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function deleteAvion() {
            var href = "{{ path('BackendAvionDelete', {'id' : avionId is defined ? avionId : 0 }) }}";
            swal({
                title: 'Estas seguro?',
                text: 'Estas a punto de eliminar un registro. \nEsta accion no puede deshacerse',
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Cancelar'
            }, function(){
                window.location.href = href
            })
        }
    </script>

{% endblock %}