<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Servicios A&eacute;reos PSA</title>
        <meta charset="utf-8">
        <meta name="author" content="sebastian portesi">
        <meta name="description" content="servicios aereos psa escuela de vuelo"/>

        <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/frontend/css/reset.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/frontend/css/main.css') }}">

        <script type="text/javascript" src="{{ asset('/bundles/frontend/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/frontend/js/TimeCircles.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/frontend/js/backstretch.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/frontend/js/main.js') }}"></script>
    </head>
    <body>

        <section class="content wrapper">

            <h1>Pr&oacute;ximamente Disponible</h1>
            <p class="description">Si sos piloto o actualemente alumno de PSA te avisaremos!</p>

            <div class="counter clear" data-date="2016-09-26 00:00:00"></div>

        </section>

        <div class="back_img"></div>

    </body>
</html>