{% extends 'BackendBundle::layout.html.twig' %}

{% block styles %}
    <link href="{{ asset("/bundles/backend/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css") }}" rel="stylesheet">
    <link href="{{ asset("/bundles/backend/bower_components/datatables-responsive/css/dataTables.responsive.css") }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{{ asset("/bundles/backend/bower_components/datatables/media/js/jquery.dataTables.min.js") }}"></script>
    <script src="{{ asset("/bundles/backend/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js") }}"></script>
    <script src="{{ asset("/bundles/backend/bower_components/datatables-responsive/js/dataTables.responsive.js") }}"></script>

    <script type="text/javascript">
        $('table').DataTable({
            language: {
                sProcessing: "Procesando...",
                sLengthMenu: "Mostrar _MENU_ registros",
                sZeroRecords: "No se encontraron resultados",
                sEmptyTable: "Ningún dato disponible en esta tabla",
                sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
                sInfoPostFix: "",
                sSearch: "Buscar:",
                sUrl: "",
                sInfoThousands: ",",
                sLoadingRecords: "Cargando...",
                oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                },
                oAria: {
                    sSortAscending: ": Activar para ordenar la columna de manera ascendente",
                    sSortDescending: ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
        function sendWelcome(path, button){
            $(button).prop('disabled', true);
            $.ajax({
                url: path,
                type: 'GET',
            })
            .done(function() {
                $(button).removeClass('btn-primary');
                $(button).addClass('btn-success');
                $(button).text("Enviada");
            })
            .fail(function() {
                $(button).removeClass('btn-primary');
                $(button).addClass('btn-danger');
                $(button).text("Reenviar");
                $(button).prop('disabled', false);
            });
        }
    </script>

{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                <i class="fa fa-users fa-fw"></i> Alumnos
                <a href="{{ path("BackendAlumnoNew") }}" class="btn btn-primary pull-right">Nuevo Alumno</a>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Apellido</th>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in alumnos %}
                                <tr>
                                    <td>{{ item.apellido }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>{{ item.email }}</td>
                                    <td class="text-center">
                                        <a href="{{ path("BackendAlumnoEdit", { id: item.id }) }}" class="btn btn-primary btn-rounded btn-xs" >
                                            <i class="fa fa-pencil"></i> Editar
                                        </a>
                                        <button onclick="sendWelcome('{{ path("backend_alumno_sendwelcome", { id: item.id, return: "false" }) }}', this)" class="btn btn-primary btn-rounded btn-xs">
                                            <i class="fa fa-envelope"></i> Enviar bienvenida
                                        </button>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5"><b>No hay alumnos cargados</b></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}