<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="servicios aereos psa">
        <meta name="author" content="sebastian portesi">
        <title>Servicios Aereos PSA</title>

        <link rel="stylesheet" href="{{ asset("/backend/bower_components/bootstrap/dist/css/bootstrap.min.css") }}" type="text/css">
        <link rel="stylesheet" href="{{ asset("/backend/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css") }}" type="text/css">
        <link rel="stylesheet" href="{{ asset("/backend/bower_components/font-awesome/css/font-awesome.min.css") }}" type="text/css">
        <link rel="stylesheet" href="{{ asset("/backend/css/login.css") }}" type="text/css">
    </head>

    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading text-center">
                            <img src="">
                            <h3 class="panel-title">Sistema de turnos online</h3>
                        </div>
                        <div class="panel-body">
                        {% block fos_user_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset("/backend/bower_components/jquery/dist/jquery.min.js") }}"></script>
    <script src="{{ asset("/backend/bower_components/bootstrap/dist/js/bootstrap.min.js") }}"></script>

</body>

</html>
