{% extends 'BackendBundle::layout.html.twig' %}

{% block styles %}
    <!-- DataTables CSS -->
    <link href="{{ asset("/bundles/backend/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css") }}" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="{{ asset("/bundles/backend/bower_components/datatables-responsive/css/dataTables.responsive.css") }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <!-- DataTables JavaScript -->
    <script src="{{ asset("/bundles/backend/bower_components/datatables/media/js/jquery.dataTables.min.js") }}"></script>
    <script src="{{ asset("/bundles/backend/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js") }}"></script>
    <script src="{{ asset("/bundles/backend/bower_components/datatables-responsive/js/dataTables.responsive.js") }}"></script>

	<script type="text/javascript">
		$('table').DataTable({
			language: {
				sProcessing: "Procesando...",
				sLengthMenu: "Mostrar _MENU_ registros",
				sZeroRecords: "No se encontraron resultados",
				sEmptyTable: "Ningún dato disponible en esta tabla",
				sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
				sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
				sInfoPostFix: "",
				sSearch: "Buscar:",
				sUrl: "",
				sInfoThousands: ",",
				sLoadingRecords: "Cargando...",
				oPaginate: {
					sFirst: "Primero",
					sLast: "Último",
					sNext: "Siguiente",
					sPrevious: "Anterior"
				},
				oAria: {
					sSortAscending: ": Activar para ordenar la columna de manera ascendente",
					sSortDescending: ": Activar para ordenar la columna de manera descendente"
				}
			}
		})
	</script>

{% endblock %}

{% block body %}
    
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-users fa-fw"></i> Pilotos</h1>
        </div>
    </div>
	
	<div class="row">
		<div class="dataTable_wrapper">
			<table class="table table-hover table-striped table-bordered">
				<thead>
					<tr>
						<th>Apellido</th>
						<th>Nombre</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					{% for item in pilotos %}
						<tr>
							<td>{{ item.apellido }}</td>
							<td>{{ item.nombre }}</td>
							<td>{{ item.email }}</td>
						</tr>
					{% else %}
					    <tr>
					    	<td colspan="5"><b>No hay pilotos cargados</b></td>
					    </tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}