{% extends 'FrontendBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/bundles/backend/bower_components/select2/dist/css/select2.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("/bundles/backend/bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css") }}">
    <style type="text/css">
        th{
            text-align: center !important; 
        }
        .rotate{
            transform: rotate(-90deg);
            vertical-align: middle !important;
            text-align: center !important;
            line-height: 1 !important;
            padding: 0 !important;
        }
        tbody td{
            text-align: center;
        }
    </style>
{% endblock %}

{% block scripts %}
    <!-- Moment JS -->
    <script type="text/javascript" src="{{ asset("/bundles/backend/bower_components/moment/min/moment-with-locales.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("/bundles/backend/bower_components/select2/dist/js/select2.full.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("/bundles/backend/bower_components/select2/dist/js/i18n/es.js") }}"></script>

    <script type="text/javascript">

        moment.locale('es');

        var date = moment().add({{ week | number_format }}, 'w').format()

        var start = moment(date).startOf('week').format('DD')
        var startComplete = moment(date).startOf('week').format()
        var end = moment(date).endOf('week').format('DD')
        var endComplete = moment(date).endOf('week').format()
        var month = moment(date).format('MMMM')
        var monthNumber = moment(date).format('MM')
        var semanaText = 'Semana del ' + start + ' al ' + end + ' del mes de ' + month.capitalizeFirstLetter()
        $('#semanaText').text(semanaText);

        $('.rotate').each(function(){
            $(this).find('b').text(moment(date).day($(this).data('dia')).format('DD'))
        })

        $('.clickable').each(function() {
            $(this).data('updatedAt', date)
            var fecha = (parseInt(start) - 1 + parseInt($(this).data('dia'))).toString() + '/'
            fecha += monthNumber + '/'
            fecha += moment().format('YYYY') + 'T'
            fecha += $('th').eq($(this).data('horario')).text()
            $(this).data('fecha', moment(fecha, 'D/MM/YYYYTHHmm').format())
        })

        initCalendar()

        $('#inputPiloto, #inputAlumno').select2({
            language: "es", 
            theme: 'bootstrap',
            containerCssClass : ":all",
        })

    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <i class="fa fa-table fa-fw"></i> Turnos
                <div class="pull-right">
                    <h3 style="margin: 10px; " id="semanaText" ></h3>
                </div>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="btn-group pull-right">
                <a href="{{ path('FrontendTurnoHomepage', { 'week' : week - 1 }) }}" class="btn btn-default">Semana Anterior</a>
                <a href="{{ path('FrontendTurnoHomepage', { 'week' : 0 }) }}" class="btn btn-default">Semana Actual</a>
                <a href="{{ path('FrontendTurnoHomepage', { 'week' : week + 1 }) }}" class="btn btn-default">Semana Siguiente</a>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
        	<div class="table-responsive">
        		<table class="table table-striped table-bordered table-hover">
        			<thead>
        				<tr>
        					<th colspan="2">Hora</th>
        					{% for itemHorario in horarios %}
                                <th>{{ itemHorario.hora }}</th>
                            {% endfor %}
        				</tr>
        				<tr>
        					<th width="1%">D&iacute;a</th>
        					<th>Mat</th>
        					{% for itemHorario in horarios %}
                                <th>Piloto</th>
                            {% endfor %}
        				</tr>
        			</thead>
        			<tbody>
                        {% for itemDia in dias %}
            				<tr>
            					<td colspan="1" rowspan="{{ aviones|length + 1 }}" data-dia="{{ itemDia.id }}" class="rotate">{{ itemDia.nombre }}<br><b></b></td>
            				</tr>
                            {% for itemAvion in aviones %}
            				    <tr data-dia="{{ itemDia.id }}" data-avion="{{ itemAvion.id }}">
                                    <td>{{ itemAvion.matricula }}</td>
                                    {% if itemAvion.tipoFueraServicio != 'Fuera de Servicio' %}
                                        {% set disabled = false %}
                                        {% for itemHorario in horarios %}
                                            {% if itemHorario.hora == '1300' %}
                                                <td class="bg-disabled"></td>
                                            {% else %}
                                                {% set checkNull = itemAvion.desdeFueraServicio %}
                                                {% set checkDesde = itemAvion.desdeFueraServicio | date('H00') | number_format(0, '', '') %}
                                                {% set checkHasta = itemAvion.hastaFueraServicio | date('H00') | number_format(0, '', '') %}
                                                {% set checkHorario = itemHorario.hora | number_format(0, '', '') %}
                                                {% if not itemAvion.servicio and checkNull and checkDesde <= checkHorario and checkHasta >= checkHorario %}
                                                    {% if not disabled %}
                                                        <td class="bg-warning" colspan="{{ (checkHasta - checkDesde + 100) / 100 }}">
                                                            {{ itemAvion.tipoFueraServicio }}
                                                        </td>
                                                        {% set disabled = true %}
                                                    {% endif %}
                                                {% else %}
                                                    <td class="clickable" data-dia="{{ itemDia.id }}" data-avion="{{ itemAvion.id }}" data-horario="{{ itemHorario.id }}"></td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %} 
                                    {% else %}
                                        <td colspan="{{ horarios|length }}" class="bg-warning">{{ itemAvion.tipoFueraServicio }}</td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                        {% endfor %}
        			</tbody>
        		</table>
        	</div>
        </div>
    </div>

    {% include 'FrontendBundle:TurnoViews:modal.new.html.twig' %}

{% endblock %}
