<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <img src="{{ asset("/bundles/backend/img/logo.jpg") }}" class="img-logo">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{{ path('BackendHomepage') }}"><i class="fa fa-table fa-fw"></i> Turnos</a>
            </li>
            <li>
                <a href="{{ path('BackendHomepage') }}"><i class="fa fa-cog fa-fw"></i> Configuraci&oacute;n Turnos</a>
            </li>
            <li>
                <a href="{{ path('BackendAvionHomepage') }}"><i class="fa fa-plane fa-fw"></i> Aviones</a>
            </li>
            <li>
                <a href="{{ path('BackendPilotoHomepage') }}"><i class="fa fa-users fa-fw"></i> Pilotos</a>
            </li>
            <li>
                <a href="{{ path('BackendAlumnoHomepage') }}"><i class="fa fa-user fa-fw"></i> Alumnos</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>