{% extends 'BackendBundle::layout.html.twig' %}

{% block styles %}
    <style type="text/css">
        th{
            text-align: center !important;
        }
        .rotate{
            transform: rotate(-90deg);
            vertical-align: middle !important;
            text-align: center !important;
            line-height: 1 !important;

            padding: 0 !important;
        }
        tbody td{
            text-align: center;
        }
        .clickable {
            text-transform: capitalize;
        }
    </style>
{% endblock %}

{% block scripts %}

    <script type="text/javascript">

        moment.locale('es');

        var date = moment().add({{ week | number_format }}, 'w').format();

        var start = moment(date).startOf('week').format('DD');
        var startComplete = moment(date).startOf('week').format();
        var end = moment(date).endOf('week').format('DD');
        var endComplete = moment(date).endOf('week').format();
        var month = moment(date).format('MMMM');
        var monthNumber = moment(date).format('MM');
        var semanaText = 'Semana del ' + start + ' al ' + end + ' del mes de ' + month.capitalizeFirstLetter();
        $('#semanaText').text(semanaText);

        $('.rotate').each(function () {
            $(this).find('b').text(moment(date).startOf('isoweek').day($(this).data('dia')).format('DD'));
        });

        initCalendar();

        $('#turno-user').select2({
            language: "es",
            containerCssClass: ":all"
        })

    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <i class="fa fa-table fa-fw"></i> Turnos
                <div class="pull-right">
                    <h3 style="margin: 10px;" id="semanaText" ></h3>
                </div>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="pull-left">
                <button type="button" onclick="switchMode();" class="btn btn-primary btn-modo-crear">Cambiar a modo "Mover turnos"</button>
                <button type="button" onclick="switchMode();" class="btn btn-success btn-modo-mover" style="display: none;">Cambiar a modo "Crear turnos"</button>
                <button class="btn btn-primary text-uppercase btn-instrucciones" data-toggle="modal" data-target="#modal-instrucciones">Instrucciones reserva de turnos</button>
            </div>
            <div class="btn-group pull-right">
                <a href="{{ path('backend_turno_index', { 'week' : week - 1 }) }}" class="btn btn-default">Semana Anterior</a>
                <a href="{{ path('backend_turno_index', { 'week' : 0 }) }}" class="btn btn-default">Semana Actual</a>
                <a href="{{ path('backend_turno_index', { 'week' : week + 1 }) }}" class="btn btn-default">Semana Siguiente</a>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2">Hora</th>
                                {% for itemHorario in horarios %}
                                    <th>{{ itemHorario }}</th>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th width="1%">D&iacute;a</th>
                                <th>Mat</th>
                                {% for itemHorario in horarios %}
                                    <th>Piloto</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for itemDia in dias %}
                                {% set fechaDia = weekStart | date_modify('+' ~ (loop.index - 1) ~ ' day') | date_modify('+' ~ week | number_format ~ ' week') | date('Y-m-d') %}
                                <tr>
                                    <td colspan="1" rowspan="{{ aviones|length + 1 }}" data-dia="{{ loop.index }}" class="rotate">{{ itemDia }}<br><b></b></td>
                                </tr>
                                {% for itemAvion in aviones %}
                                    <tr data-dia="{{ itemDia }}" data-avion="{{ itemAvion.id }}"
                                            {% if itemAvion.tipoFueraServicio != 'Fuera de Servicio' and not itemAvion.servicio %}
                                                data-fsd="{{ itemAvion.desdeFueraServicio | json_encode() }}"
                                                data-fsh="{{ itemAvion.hastaFueraServicio | json_encode() }}"
                                                data-tfs="{{ itemAvion.tipoFueraServicio | json_encode() }}"
                                                data-rfs="{{ itemAvion.razonFueraServicio | json_encode() }}"
                                            {% endif %} >
                                        <td class="td-avion">{{ itemAvion.matricula | replace({'LV-' : ''}) }}</td>
                                        {% if itemAvion.tipoFueraServicio != 'Fuera de Servicio' %}
                                            {% for itemHorario in horarios %}
                                                {% set summer = ['1400', '2400'] %}
                                                {% if itemHorario >= summer[0] and itemHorario <= summer[1] %}
                                                    <td class="bg-disabled"></td>
                                                {% else %}
                                                    <td class="clickable"
                                                        data-avion="{{ itemAvion.id }}"
                                                        data-fecha="{{ fechaDia }}"
                                                        data-horario="{{ itemHorario }}"
                                                        id="{{ ( itemAvion.id ~ fechaDia ~ itemHorario) | replace({ '-' : '' }) }}"
                                                    >
                                                        <div></div>
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <td colspan="{{ horarios|length }}" class="bg-warning">{{ itemAvion.tipoFueraServicio }}: {{ itemAvion.razonFueraServicio }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                {% if loop.index is even %}
                                    <thead>
                                        <tr>
                                            <th colspan="2">Hora</th>
                                            {% for itemHorario in horarios %}
                                                <th>{{ itemHorario }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include 'BackendBundle:TurnoViews:modal.new.html.twig' %}
    {% include 'BackendBundle:TurnoViews:modal.instrucciones.html.twig' %}

{% endblock %}
